<!doctype html>
<html>
    <head>
        <title>React Isomorphic Server Side Rendering Example</title>

        
        <style><%- criticalCSS %></style>
        <noscript>
            <link href='/styles.css' rel="stylesheet">
        </noscript>
    </head>
    <body>
    <h1 id="main-title">Isomorphic Server Side Rendering with React</h1>

        <div id="react-main-mount">
            <%- reactOutput %>
        </div>

    <!-- comment out main.js to see server side only rendering -->
    <script src="/main.js"></script>
     <!-- Async load cross-site CSS, mostly interesting for production -->
    <script>
    function loadCSS(e,t,n){"use strict";var i=window.document.createElement("link");var o=t||window.document.getElementsByTagName("script")[0];i.rel="stylesheet";i.href=e;i.media="only x";o.parentNode.insertBefore(i,o);setTimeout(function(){i.media=n||"all"})}
    loadCSS('/styles.css');
    </script>

    </body>
</html>
